<div class="container">
  <div class="jumbotron" *ngIf="user == null || user.id == undefined || user.id == null" style="text-align: center">
    <h2 class="bg-warning">Not Logged in</h2>
    <p>This function is available only to logged users</p>
    <p>In case you do not have account, create one for free</p>
  </div>

  <div class="jumbotron" *ngIf="user != null && user.id != null && user.id != undefined">
  <h2>Marks: </h2>
  <hr>
  <div class="table-responsive" *ngIf="marks">
    <table class="table table-striped">
      <thead>
      <tr>
        <th><span ><h3>Title</h3></span></th>
        <th><span ><h3>Image</h3></span></th>
        <th><span ><h3>Desc.</h3></span></th>
        <th></th>

      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mark of marks; let i = index">
        <!--<td>{{ mark.id}}</td>-->
        <td><h3>{{mark.title}}</h3></td>
        <td style=" max-width: 100px">
            <img [src]="this.mark.mainImageSrc" alt=""  style="width:25%; "/>
        </td>
        <td><h3>{{mark.description}}</h3></td>
        <td *ngIf="mark.favourite"> <h2><span style="color: red" class="glyphicon glyphicon-heart"></span></h2> </td>
        <td *ngIf="!mark.favourite"> <h2><span style="color: red" class="glyphicon glyphicon-heart-empty"></span></h2> </td>

        <td class="text-right">
          <div class="btn-group flex-btn-group-container">
            <button class="btn btn-primary" routerLinkActive="active" [routerLink]="['/marks/edit', mark.id]" > EDIT </button>
          <button type="button" class="btn btn-danger" (click)="deleteMark(i)"> DELETE </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
