<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <button class="navbar-toggler" style="width: 40px" (click)="collapse=!collapse" type="button" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" (click)="collapse=true" [hidden]="collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" routerLinkActive="" routerLink=""> <span class="glyphicon glyphicon-home"></span> Home </a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="" routerLink="marks"> Marks </a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="" routerLink="calendar"> <span class="glyphicon glyphicon-calendar"></span> Calendar </a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="" routerLink="favourites"> <span class="glyphicon glyphicon-heart"></span> Favourites </a></li>
    </ul>
    <div class="pull-right">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item"><a class="nav-link" *ngIf="user.username == null || user.username == ''" routerLinkActive="" routerLink="login"> <span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="user.username != null && user.username != '' " routerLinkActive="" routerLink="" (click)="logout()"> <span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
        <li class="nav-item"><a class="nav-link" *ngIf="user.username != null && user.username != '' " routerLinkActive="" routerLink="account-edit"> {{user.username}} <span class="glyphicon glyphicon-cog"></span> </a></li>

      </ul>
    </div>
  </div>
</nav>
